<div class="example-container">
    <mat-toolbar class="head-login" fxLayout="column" fxFlex="" xLayout.xs="row" fxLayoutAlign="end end">Collete</mat-toolbar>
    <div class="example-container" fxLayoutAlign="center">
        <form class="example-form">
            <mat-form-field class="example-full-width">
                <input matInput placeholder="Correo Electronico" [formControl]="email" required>
                <mat-error *ngIf="email.invalid">{{getErrorMessage()}}</mat-error>
            </mat-form-field>

            <mat-form-field class="example-full-width">
                <input matInput placeholder="Enter your password" [type]="hide ? 'password' : 'text'" [formControl]="password" required>
                <mat-error *ngIf="password.invalid">{{getErrorMessage2()}}</mat-error>
                <button mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hide">
                <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
                </button>
            </mat-form-field>
            <button mat-button [routerLink]="['/home']">Entrar</button>
            <p>Olvidaste tu contraseña o correo?</p>
        </form>
    </div>
    <mat-toolbar class="footer-login">Collete</mat-toolbar>
</div>