.example-container {
    display: flex;
    flex-direction: column;
    width: 100%;
}

.head-login,
.footer-login {
    background-color: transparent !important;
}

.footer-login {
    bottom: 0;
    position: fixed;
}

.example-form {
    min-width: 150px;
    max-width: 500px;
    width: 100%;
}

.example-full-width {
    width: 100%;
}

.example-right-align {
    text-align: right;
}

input.example-right-align::-webkit-outer-spin-button,
input.example-right-align::-webkit-inner-spin-button {
    display: none;
}

input.example-right-align {
    -moz-appearance: textfield;
}